* {
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
}

body {
  font-family: sans-serif;
  padding: 250px;
}

div {
  background-color: gray;
  border: black;
  border-style: solid;
  margin: 20px;
}
